#homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  position: relative;
}

@media (max-width: 800px) {
  #homepage {
    margin-left: 50px;
  }
}

#jiaxi {
  width: 40%;
  border-radius: 50%;
}

#intro {
  font-size: 60px;
}

#photo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 80vh;
  height: 80vh;
  padding-right: 4em;
  z-index: 0;
}

#projectText {
  color: white;
}

#socialMediaButtonGroup {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-right: 5px;
}
