#logo {
  width: 20%;
  height: 20%;
  margin-top: 10px;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}

@media (max-width: 800px) {
  #projectAboutButtons {
    white-space: normal;
    margin-bottom: 75px;
  }
}
